@charset "UTF-8";   

main{
    display: block;
    width: 750px;
    background-color: rgb(169, 231, 255);
    padding: 7px;
    border-radius: 15px;
    margin:auto;
}

body{
    background-image: linear-gradient(to right, rgb(31, 31, 31), rgb(48, 45, 45));
    background-attachment: fixed;
}
h1{
    color: rgb(74, 170, 170);
}

#prota{
        color: rgb(192, 126, 253);
}

h2{
    color: rgb(29, 229, 236);
}

p{
    color: rgb(0, 0, 0);
}

.subtitulo{
    color: rgb(98, 0, 255);
}